
.posts {
    border: 2px solid black;
    text-align: center;
    padding: 2em;
  }
  
  .posts h1 {
    margin-bottom: 20px;
    font-size: 24px;
  }
  
  .user-profile p {
    grid-area: p;
    font-size: 12px;
    font-weight: light;
  }
  