.posts-div {
     width: 100%;
    border: 1px solid black;
    display: grid;
    align-items: center;
    text-align: center;
    padding: 0 20px 50px 20px;
}


.posts {
    display: grid;
    width: 100%;
    gap: 20px;
}