@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

.post-container {
  margin-top: 30px;
  width: 55%;
  max-width: 950px;
  border: 2px solid hsla(0, 4%, 18%, 0.1);
  padding: 20px;
  margin-bottom: 80px;
  margin-left: 20px;
}

.post {
  margin-top: 20px;
}

.post-container h3 {
  text-align: center;
}

.post {
  text-align: center;
  border: 2px solid hsla(0, 4%, 18%, 0.1);
  padding: 10px;
}
