/* contactcard.css */

img {
    width: auto;
    grid-column: 1;
    grid-row: 1;
}

.contact-card {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 30px 30px 30px;
    column-gap: 20px;
    border: 1px solid black;
    height: 133px;
    width: 90%;


}

.user-name {
    margin-top: 20px;
    margin-left: 25px;
    grid-column: 2;
    grid-row: 1;
}

.user-title {
    margin-left: 25px;
    grid-column: 2;
    grid-row: 2;
}

.user-description {
    margin-left: 25px;
    grid-column: 2;
    grid-row: 3;
}