/// Contacts.scss
.contacts {
    border: 1px solid black;
    width: 400px;
    height: 810px;
    margin: 25px;
    margin-left: 70px;
    padding: 20px;


    &__header {
        display: flex;
        justify-content: center;
} 

}