* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.posts-container {
    border: 1px solid black;
    text-align: center;
    padding: 50px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    padding-bottom: 90px;
}