.post {
    border: 1px solid black;
    width: 90%;
    height: 50%;
    margin: 0 auto;

   
    
}

.postInfo {
    font-size: 10px;
    padding-bottom: 10px;
}

.postTitle {
    font-size: 14px;
}