.App{
    border: 1px solid black;
    width: 100vw;
    height: 80vh;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 1fr 3fr 6fr;
    gap: 20px;
    line-height: 0.3;

   
}
main{
    padding: 0 20px;
    align-items: center;
    justify-content: center;
    
}