body {
  font-family: sans-serif;
  margin: 0;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

.container{
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 4fr 5fr;
  grid-template-areas:
          "navbar navbar"
          "userProfile contacts"
          "posts contacts" ;
}

.menu_bar{
  grid-area: navbar;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  background-color: #9fe5f1;
  list-style: none;
}
.menu_bar ul {
  margin-right: 20px;
  list-style: none;
  width: 300px;
  display: flex;
  justify-content: space-between;
}

.user_profile{
  margin: 20px;
  grid-area: userProfile;
  border: 1px solid black;
  .contact_user_card{
    border: none;
  }
}

  


