body {
  font-family: sans-serif;
  margin: 0;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

nav {
  background-color: #ADD7E6;
  color: #fff;
  display: flex;
  justify-content: flex-end;
  padding: 1rem 20px;
}

.navbar-pursuit {
  margin-right: 10px; 
}

.navbar-acct {
  margin-right: 10px; 
}