body {
  font-family: sans-serif;
  /* box-sizing: border-box; */
  /* margin: 0 auto;
  height: 10px;
  width: 100vw; */
}

html,
body,
#root {
   height: 300px;
  width: 100%;
  box-sizing: border-box;
}

.app-container {
  /* box-sizing: border-box; */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 50px;
  gap: 15px;
  height: 600px;
  width: 1925px;

}

.main-section {
  box-sizing: border-box;
  margin: 30px;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 35px;
}

.span {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 225px;
  gap: 50px;
}

.contacts {
  height: 600px;
}