@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

.user-div {
  margin-top: 20px;
  width: 50%;
  max-width: 950px;
  border: 2px solid hsla(0, 4%, 18%, 0.1);
  display: flex;
  align-items: center;
  padding-bottom: 80px;
  margin-left: 20px;
}

.user-image {
  margin-right: 20px;
}

.user-details {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.user-details > * {
  margin-bottom: 8px;
}
